html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*, *::before, *::after
{
	box-sizing: inherit;
	list-style: none;
	text-decoration:  none;
}
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*// SCROLL QISMI START*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 7px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	background: red; 
	border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: crimson; 
}
/*// SCROLL QISMI THE END*/

/* container */
.container {
	width: 85%;
	margin: 0 auto;
}

/*HEADER-QISMI-START*/
header {
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
header > .header__menu{
	background: crimson;
	position: fixed;
	width: 100%;
	z-index: 200;
}
header > .header__menu .container {
	display: flex;
	align-self: center;
	justify-content: space-between;
}
header .logo h1 a {
	color: #fff;
	font-weight: bold;
}
header .navbar ul{
	display: flex;
	align-items: center;
	padding-top: 15px;
}
header .navbar ul li a {
	margin: 0 25px;
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	display: inline-block;
}
header .navbar ul li a:hover {
	transition: 0.5s all ease;
	color: gold;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    cursor: pointer;
}
#check{
    display: none;
}
.dropdovn{
    display: none;
}

/* // HEADER-MEDIA-QISMI-START */
#check{
    display: none;
}
.dropdovn{
    display: none;
}
.headr__title__text {
	color: #fff;
    display: inline-block;
    padding-top: 200px;
}
.headr__title__text h3{
	color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}
.headr__title__text h1{
	font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.btn {
	color: #fff;
    background: crimson;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 30px 0;
    transition: .5s ease;
    border: none;
    cursor: pointer;
}
.btn {
	color: #fff;
    background: crimson;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 30px 0;
    transition: .5s ease;
}
.btn:hover {
	background: #fff;
	color: #000;
	letter-spacing: 3px;
}
.header__icons a i {
	color: #fff;
    font-size: 25px;
    margin-right: 30px;
    transition: 0.5s all ease;
}
.header__icons a i:hover {
	color: crimson;
	transform: scale(1.3);
}
.header__icons #oxirgi {
	margin: 0;
}
.animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3{
    color: crimson;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1){
    animation: text-move 10s infinite;
}
@keyframes text-move{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -70px;
    }
    50%{
        margin-top: -140px;
    }
    100%{
        margin-top: 0;
    }
}

/* ABOUT-QISMI-START// */
.about {
	padding-top: 100px;
	padding-bottom: 100px;
}
.title__text {
	text-align: center;
	position: relative;
}
.title__text h1 {
	font-size: 38px;
	margin: 0;
    font-weight: 800;
    margin-bottom: 60px;
    color: crimson;
}
.title__text::before {
	content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: crimson;
    transform: translateX(-50%);
}
.title__text::after {
	content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: crimson;
    transform: translateX(-50%);
}
.about .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about .block__one {
	width: 50%;
	display: inline-block;
}
.about img {
	width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.about .block__two {
	width: 50%;
}
.about .block__two p {
	font-size: 18px;
}
.about .block__two h3 {
	margin: 0;
	font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* SKILLS-QISMI-START// */
.skills {
	background: #000016;
	width: 100%;
	padding-top: 100px;
}
.skills .container .row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 150px;
}
.skills .skill__text {
	width: 40%;
	color: #fff;
}
.skill__diograma h2 {
	color: #fff;
	margin-bottom: 0;
}
.diograma__text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.skill__diograma {
	width: 50%;
}
.skill__diograma .block__one {
	width: 100%;
	background: #ddd;
	height: 18px;
	border-radius: 3px;
}
.skill__diograma .box__one {
	background: #E45126;
	width: 95%;
	height: 100%;
}
.skill__diograma .box__two {
	width: 80%;
	background: #0C73B8;
	height: 100%;
}
.skill__diograma .box__three {
	width: 75%;
	background: #E3A324;
	height: 100%;
}
.skill__diograma .box__four {
	width: 95%;
	background: #30DD6D;
	height: 100%;
}
.skill__diograma .box__five {
	width: 95%;
	background: #6D7EB8;
	height: 100%;
}


/* Services-QISMI-START// */
.services {
	padding: 100px;
}
.services p {
	font-size: 18px;
}
.services .cards {
	display: flex;
	align-items: center;
	margin-top: 40px;
}
.services .card {
	background: #fff;
    margin: 10px;
    padding: 35px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    text-align: center;
}
.services .card i {
	font-size: 120px;
	color: crimson;
	transition: 0.5s all ease;
	cursor: pointer;
}
.services .card h3 {
	color: crimson;
	font-size: 22px;
	margin-bottom: 0;
	font-weight: bold;
}
.services .card i:hover {
	transform: translateY(-10px);
}

/* WORK-QISMI-START// */
.work {
  background: #000016;
}
.work .container {
	padding-top: 100px;
}
.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card {
  width: 340px;
  margin: 15px;
}

.work .content .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
}

.work .content .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: .5s ease;
}

.work .content .card-img img:hover {
  transform: scale(1.2);
}
.work .buton {
	text-align: center;
}

/*  CONTACT-QISMI-START// */
.contact {
	padding-top: 100px;
}
.contact .cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact .card {
	background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
}
.contact .card h3 {
	margin-bottom: 0;
	color: #111;
    font-size: 20px;
    font-weight: 700;
}
.contact .card i{
	font-size: 60px;
	color: crimson;
	transition: all 0.5s ease;
	margin: 15px;
}
.contact .card i:hover {
	transform: translateY(-10px);
}
.contact .card p {
	color: #666;
    font-weight: 500;
}
.contact .card a {
	color: #666;
}
/* input__card */
.row {
	display: flex;
	justify-content: center;
}
.input__card {
	background: #fff;
    width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    text-align: center;
    margin-bottom: 100px;
}
.contact .card__text h2 {
	color: #111;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.input__card input, textarea {
	color: #111;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
	resize: none;
}
.input__card .btn {
	width: 100%;
	margin-bottom: 0;
}
.input__card .btn:hover {
	background: gold;
}

/*  FOOTER-QISMI-START//)) */
.footer {
	background: #000016;
    color: #fff;
    text-align: center;
    padding: 34px;
}
.footer a {
	color: #fff;
}
/* 1490px */
@media (max-width: 1490px) {
	.about img {
	    width: 80%;
	}
}
/* 1490px */
@media (max-width: 1490px) {
	.about .row {
		flex-direction: column;
	}
	.about .block__one {
		width: 100%;
	}
	.about .block__two {
		width: 100%;
		padding-top: 50px;
	}
	.about .block__one img {
		width: 100%;
	}
}
/* 1335px */
@media (max-width: 1335px) {
	.services .card {
		padding: 25px;
	}
	.services .card p {
		font-size: 16px;
	}
}
/* 1300px */
@media (max-width: 1300px) {
	.skills .container .row {
		flex-direction: column;
	}
	.skill__diograma {
		width: 100%;
	}
	.skills .skill__text {
		width: 100%;
		font-size: 22px;
	}
	.about .block__two {
		font-size: 22px;
	}
}
/* 1240px */
@media (max-width: 1240px) {
	.services .cards {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	.services .cards .card {
		width: 400px;
		margin: 0 auto;
		margin-top: 50px
	}
	.services {
		padding: 0;
	}
	.services .title__text {
		margin-top: 100px;
	}
}
/* 858px */
@media(max-width: 858px){
	header .navbar ul {
	    display: flex;
	    align-items: center;
	    padding-top: 15px;
	    flex-direction: column;
	}
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 63px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 100;
    }
    nav ul li{
        display: block;
        margin: 22px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
        z-index: 300;
		padding: 0;
    }
    .dropdovn{
        display: block;
        margin-top: 25px;
    }
}
/* 510px */
@media (max-width: 510px) {
	.headr__title__text h1 {
	    font-size: 55px;
	}
}
/* 450px */
@media (max-width: 450px) {
	.skill__text {
		text-align: center;
	}
	.about .block__two {
		text-align: center;
	}
}
/* 375px */
@media (max-width: 375px) {
	.input__card {
		padding: 25px;
	}
}